[Unit]
Description = DCAudio Dual Displays management
After = mpd.service

[Service]
Restart = always
WorkingDirectory=/home/pi/pydPiper
User=pi
Group=pi
ExecStart = python /home/pi/pydPiper/pydPiper_dual.py
ExecReload=/usr/bin/kill -15 $MAINPID
KillMode = process
Restart = always
RestartSec = 10
StartLimitInterval = 30
StartLimitBurst = 20

[Install]
WantedBy = multi-user.target
